body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./pho-saigon_bg.jpg) no-repeat center center fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-main {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 10px 10px 30px #666;
  min-height: 100%;
  padding: 0;
}
.centered {
  margin: auto;
  text-align: center;
}

@media (max-width: 991px) {
  .bg-main {
    min-width: 100%;
  }
}
