.logo-box {
    width: 300px;
    position: relative;
    margin: auto;
    padding-top: 20px;
    z-index: 1100;
}
.logo {
    max-width: 100%;
}

@media (max-width: 600px) {
    .logo-box {
        width: 180px;
        top: 10px;
    }
}