.logo-box {
    max-width: 25%;
    position: relative;
    margin: auto;
    padding-top: 15px;
    z-index: 1100;
}
.logo {
    max-width: 100%;
}

@media (max-width: 600px) {
    .logo-box {
        max-width: 40%;
        top: 10px;
    }
}