.logo-box {
    max-width: 30%;
    position: relative;
    margin: auto;
    padding-top: 20px;
    z-index: 1100;
}
.logo {
    max-width: 100%;
}

@media (max-width: 600px) {
    .logo-box {
        max-width: 50%;
        top: 10px;
    }
}