.top-shift {
    margin-top: -6rem;
    background-color: #fff;
}
header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}
@media (max-width: 990px) {
    .top-shift {
        margin-top: -3.5rem;
    }
}
@media (max-width: 600px) {
    .top-shift {
        margin-top: 0;
    }
}