h3 {
    background-color: #0d5243;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    margin-bottom: 20px;
}
.inner {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.margin-bottom {
    margin-bottom: 1.5rem;
}
.btn-secondary {
    background-color: #0d5243 !important;
    margin-bottom: 1.5rem;
}
.card-body {
    margin-bottom: 1.25rem;
}
.material-icons {
    vertical-align: text-bottom;
    margin-left: .5rem;
}
.trash {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.trash:visited .trash:active .trash:hover {
    border: none;
    outline: none;
}
.order-option {
    padding: .3rem 0;
    margin-left: 120px;
}
.quantity {
    margin: 0 20px;
    width: 3rem;
}

@media screen and (max-width: 600px) {
    .inner {
        padding-left: 5px;
        padding-right: 5px;
    }
}