h3 {
    background-color: #0d5243;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    margin-bottom: 20px;
}
.inner {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 600px) {
    .inner {
        padding-left: 5px;
        padding-right: 5px;
    }
}