.bg-light, navbar-light {
    background-color: rgba(255, 255, 255, 0) !important;
}
.navbar {
    display:flex;
    justify-content: flex-end;
}
.navbar-nav {
    justify-content: space-between;
    padding-bottom: 35px;
}
.navbar-nav .nav-link {
    color: #000 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.nav-link:hover {
    color: #0d5243 !important;
}
.menu-left {
    margin-right: 10rem;
} 
.menu-right {
    margin-left: 15rem;
}

@media (max-width: 992px) {
    .navbar {
        background-color: #fff;
    }
    .navbar-nav {
        padding-bottom: 5px;
    }
    .navbar-nav .nav-link {
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }
    .menu-left {
        margin-right: 8rem;
    } 
    .menu-right {
        margin-left: 10rem;
    }
}

@media screen and (max-width: 991px) {
    .navbar-nav .nav-link {
        background-color: #0d5243 !important;
        color: #fff !important;
    }
    .nav-link:hover {
        background-color: #11735e !important;
    }
    .menu-left {
        margin-right: 0;
    } 
    .menu-right {
        margin-left: 0;
    }
    .navbar-toggler {
        position: fixed;
        top: 6%;
        right: 10px;
    }
}
